.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-link {
  text-decoration: none; /* Quitar subrayado */
  border-bottom: none; /* Eliminar borde inferior */
}

.card {
  flex-basis: calc(40% - 50px);
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombreado más pronunciado al pasar el mouse */
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px; /* Ancho del ícono */
  height: 40px; /* Altura del ícono */
  margin-bottom: 10px; /* Espacio entre el ícono y el contenido */
}

.card-title {
  color: #333333;
  font-size: 16px; /* Tamaño del título */
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
  text-align: center;
}

.card-description {
  color: #666666;
  font-size: 14px; /* Tamaño de la descripción */
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}
